@font-face {
  font-family: Monteserrat;
  src: url("/src/assets/fonts/Montserrat-VariableFont_wght.ttf");
}
body {
  margin: 0px;
}
.Toastify__toast {
  width: 300px;
  border-radius: 12px;
  margin-bottom: 10px;
}
